@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(#e4e9fd, #a683e3);
}

main {
  width: 400px;
  margin: 0 auto;
}

h1 {
  margin: 50px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  background-color: #a683e3;
  color: #e4e9fd;
  box-shadow: 5px 5px 10px #00000025;
}

.items {
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px #00000025;
}

.item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a683e350;
}

.item-part1 {
  display: flex;
  align-items: center;
}

p {
  font-size: 18px;
}

input[type='checkbox'] {
  margin: 0 15px 0 5px;
}

input[type='text'] {
  padding: 5px;
  width: 309px;
  border: none;
  outline: none;
  font-size: 18px;
}

input[type='text']:focus {
  box-shadow: inset 0 -3px #a683e3;
}

button {
  margin: 0 5px 0 15px;
  width: 18px;
  border: none;
  background: none;
}

.add-task input[type='text'] {
  margin-left: 5px;
  width: 323px;
}

.add-task button {
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #a683e3;
  color: white;
}

footer {
  margin: 50px 0;
  text-align: center;
  font-size: 18px;
}

@media (width < 420px) {
  main {
    width: 300px;
  }

  h1 {
    padding: 10px 0;
  }

  input[type='text'] {
    width: 209px;
  }
}
