@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
input,
button {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(#e4e9fd, #a683e3);
}

main {
  width: 400px;
  margin: 0 auto;
}

/* date section */
h1 {
  margin: 50px 0;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  background-color: #a683e3;
  color: #e4e9fd;
  box-shadow: 5px 5px 10px #00000025;
}

/* items section */
#items {
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px #00000025;
}

article.item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a683e350;
}

div.inputs {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin: 0 15px 0 5px;
}

input[type='text'] {
  width: 300px;
  border: none;
  outline: none;
}

input[type='text']:focus {
  box-shadow: 0 3px #a683e3;
}

button {
  margin: 0 5px 0 15px;
  width: 18px;
  border: none;
  background: none;
}

article.add-item > form {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.add-item input {
  margin-left: 5px;
}

.add-item button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #a683e3;
  color: white;
}

.add-item button > p {
  margin-bottom: 2px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

@media (width < 400px) {
  main {
    width: 300px;
  }

  input[type='text'] {
    width: 200px;
  }
}
